apiVersion: app.redislabs.com/v1
kind: RedisEnterpriseCluster
metadata:
  name: ${REC_NAME}
spec:
  nodes: 3
  redisEnterpriseNodeResources:
    limits:
      cpu: 4
      memory: 4Gi
    requests:
      cpu: 4
      memory: 4Gi
  clusterCredentialSecretName: ${REC_NAME}
  clusterCredentialSecretType: vault
  clusterCredentialSecretRole: ${REC_VAULT_ROLE}
  podAnnotations:
      vault.hashicorp.com/namespace: hashicorp
